<span id="pageContent" class="is-preload">
<section id="sidebar">
	<div class="inner">
		<nav>
			<ul>
				<li><a id="ABtn-0" routerLink="/portofolio" fragment="intro"
					(click)="aMenuClicked($event)" class="animated slideInUp">Welcome</a></li>
				<li><a id="ABtn-1" routerLink="/portofolio" fragment="one"
					(click)="aMenuClicked($event)" class="animated slideInUp">What</a></li>
				<li><a id="ABtn-2" routerLink="/portofolio" fragment="two"
					(click)="aMenuClicked($event)" class="animated slideInUp" >What we do</a></li>
				<li><a id="ABtn-3" routerLink="/portofolio" fragment="three"
					(click)="aMenuClicked($event)" class="animated slideInUp">Get in touch</a></li>
				<li><a id="ABtn-4" routerLink="/blog"
					class="animated slideInUp">Blog</a></li>
			</ul>
		</nav>
	</div>
</section>

<!-- Wrapper -->
<div id="proto_wrapper">

	<!-- Intro -->
	<section id="intro" class="wrapper style1 fullscreen first">
		<div class="inner wow fadeInUp" data-wow-delay="0.1s">
			<h1>Yousef AlSuwaidan</h1>
			<p>Software developer and business automation expert in Dammam, Saudi Arabia</p>
			<ul class="actions">
				<li><a href="#one" class="button scrolly">Learn more</a></li>
			</ul>
		</div>
	</section>

	<!-- One -->
	<section id="one" class="wrapper style2 spotlights">
		<section class="wow fadeIn" data-wow-delay="0.05s">
			<a href="#" class="image"><img src="template2/images/pic01.jpg" alt="" data-position="center center" /></a>
			<div class="content">
				<div class="inner">
					<h2>Hi</h2>
					<p>My name is Yousef AlSuwaidan.  </p>
					<p>I enjoy developing and learning for new solutions. Catch up for new technologies and apply them in such a project.
						I enjoy integrating existing applications and utilize them for better business productivity and proccess alignment.
					</p>
					<ul class="actions">
						<li><a href="generic.html" class="button">Learn more</a></li>
					</ul>
				</div>
			</div>
		</section>
		<section class="wow fadeIn" data-wow-delay="0.05s">
			<a href="#" class="image"><img src="template2/images/pic02.jpg" alt="" data-position="top center" /></a>
			<div class="content">
				<div class="inner">
					<h2>IOT</h2>
					<p>
					</p>
					<ul class="actions">
						<li><a href="generic.html" class="button">Learn more</a></li>
					</ul>
				</div>
			</div>
		</section>
		<section class="wow fadeIn" data-wow-delay="0.05s">
			<a href="#" class="image"><img src="template2/images/pic03.jpg" alt="" data-position="25% 25%" /></a>
			<div class="content">
				<div class="inner">
					<h2>Working with data</h2>
					<p>I spent significant time in mining the data and visualization. 
						Considering the aspect is the key to complete process chain of managment.</p>
					<ul class="actions">
						<li><a href="generic.html" class="button">Learn more</a></li>
					</ul>
				</div>
			</div>
		</section>
	</section>

	<!-- Two -->
	<section id="two" class="wrapper style3  wow fadeIn" data-wow-delay="0.05s">
		<div class="inner">
			<h2>What I do</h2>
			<div class="features" >
				<section>
					<span class="icon major fa-code"></span>
					<h3>Web development</h3>
					<p>I am a full stack developer, worked in several backend technologies including PHP, Java, 
						NodeJs and python. For frontend implementations, I use Bootstrap, Angular and JQuery.</p>
				</section>
				<section>
					<span class="icon major fa-cog"></span>
					<h3>Business automation</h3>
					<p> I enjoy integrating existing applications and utilize them for better business productivity and proccess alignment.
						This might be done by automated visualization and data managment engine to achieve this.
					</p>
				</section>
				<section>
					<span class="icon major fa-cloud"></span>
					<h3>IoT</h3>
					<p>An Internet Of Thing enthusiast with full stack technologies, devices, gateways, IOT platform/Cloud and data analysis.
							I have done many projects which applied at home and business.</p>
				</section>
				<section>
					<span class="icon major fa-table"></span>
					<h3>Working with data</h3>
					<p>I use several techniques to extract data insight. Python for data science and machine learning projects. 
						JS based libraries to provide data visualization accessbility.</p>
				</section>
			</div>
			<ul class="actions">
				<li><a href="generic.html" class="button">Learn more</a></li>
			</ul>
		</div>
	</section>

	<!-- Three -->
	<section id="three" class="wrapper style1 wow fadeIn" data-wow-delay="0.05s">
		<div class="inner">
			<h2>Get in touch</h2>
			<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada
				quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit
				quis lorem.</p>
			<div class="split style1">
				<section>
					<form method="post" action="#">
						<div class="fields">
							<div class="field half">
								<label for="name">Name</label>
								<input type="text" name="name" id="name" />
							</div>
							<div class="field half">
								<label for="email">Email</label>
								<input type="text" name="email" id="email" />
							</div>
							<div class="field">
								<label for="message">Message</label>
								<textarea name="message" id="message" rows="5"></textarea>
							</div>
						</div>
						<ul class="actions">
							<li><a href="" class="button submit">Send Message</a></li>
						</ul>
					</form>
				</section>
				<section>
					<ul class="contact">
						<li>
							<h3>Address</h3>
							<span>12345 Somewhere Road #654<br />
								Nashville, TN 00000-0000<br />
								USA</span>
						</li>
						<li>
							<h3>Email</h3>
							<a href="#">user@untitled.tld</a>
						</li>
						<li>
							<h3>Phone</h3>
							<span>(000) 000-0000</span>
						</li>
						<li>
							<h3>Social</h3>
							<ul class="icons">
								<li><a href="https://twitter.com/Yousefstweets" class="fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="https://github.com/yousef494" class="fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="https://linkedin.com/in/yousefa/" target="blank" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
							</ul>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</section>

</div>

<!-- Footer -->
<footer id="footer" class="wrapper style1-alt">
	<div class="inner">
		<ul class="menu">
			<li>&copy; Yousef's site.</li>
			<li>Acknowledgment: adapted form <a href="http://html5up.net">HTML5 UP</a></li>
		</ul>
	</div>
</footer>
</span>