<div class="container_messaging">
  <div class="messaging">
    <div class="inbox_msg">
      <div class="inbox_people">
        <div class="headind_srch">
          <div class="recent_heading">
            <h4>Recent</h4>
          </div>
          <!-- Search bar -->
          <div class="srch_bar">
            <div class="stylish-input-group">
              <input type="text" class="search-bar" placeholder="Search">
              <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
              </span> </div>
          </div>
          <!-- end of search bar-->
        </div>
        <div class="inbox_chat">
          <div class="chat_list active_chat">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
          <div class="chat_list">
            <div class="chat_people">
              <div class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
              <div class="chat_ib">
                <h5>Sunil Rajput <span class="chat_date">Dec 25</span></h5>
                <p>Test, which is a new approach to have all solutions
                  astrology under one roof.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mesgs">
        <div  #scrollMe class="msg_history">
          <!-- Chating view -->
          <span *ngFor="let msg of conversation">
            <div class="incoming_msg" *ngIf="msg.type == 'incoming'">
              <div class="incoming_msg_img">
                <img src="https://ptetutorials.com/images/user-profile.png" alt="{{ msg.user }}">
              </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>{{ msg.text }}</p>
                  <span class="time_date"> {{ msg.time }} | {{ msg.day }} </span>
                </div>
              </div>
            </div>
            <div class="outgoing_msg" *ngIf="msg.type == 'outgoing'">
              <div class="sent_msg">
                <p>{{ msg.text }}</p>
                <span class="time_date"> {{ msg.time }} | {{ msg.day }} </span>
              </div>
            </div>
          </span>
          <!-- end of chating view-->
        </div>

        <!-- Chating controls-->
        <div class="type_msg">
          <div class="input_msg_write">
            <form [formGroup]="chatForm">
              <input type="text" formControlName="msgCtr" class="write_msg" placeholder="Type a message" />
              <button class="msg_send_btn" type="submit" (click)="send()"><i class="fa fa-paper-plane"
                  aria-hidden="true"></i></button>
            </form>
          </div>
        </div>
        <!-- end of chating controls-->

      </div>


    </div>
  </div>